html
  head
    
  body
  if !user
    div#logins
      a(href="/auth/twitter") Se connecter avec Twitter.
      br
      a(href="/auth/steam") Se connecter avec Steam.
  else
    h1 You are logged in !
    a(href="/auth/logout") Log out
    script window.opener.postMessage("done", "*");
